body{
    
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: darkgreen;
}


/* Fonts adjustments*/
strong{
    color: darkgreen;
    font-size: 17.5px;
}
h1{
    font-size: 50px;
    color:rgb(55, 55, 55);
    text-align: center;
}
h2{
    font-size: 30px;
    color: rgb(55, 55, 55);
    text-align: center;
}
h3{
    font-size: 25px;
    color: white;
    margin: 0.5rem;
    text-align: center;
}
h4{
    font-size: 20px;
    color: darkgreen;
    text-align: center;
}

/* Navigation Bar*/
.title{
    font-size: 20px;
    color: white;
    padding: 15px;
}

nav{
    background-color: darkgreen;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu_references{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}
.menu_references li a{
    color: white;
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 17.5px;
}
.menu_references a:hover{
    background-color: forestgreen;
}

/* Title Banner with image and contact references*/
.banner ul{
    list-style-type: none;
    position: absolute;
    inset: 0;
}
.banner_image{
    width: 100%;
    height: 20rem;
    object-fit: cover;
}
.banner{
    width: 100%;
    height: 20rem;
    position: relative;
}
.banner_foreground{
    display: flex;
}
.contact_title_icons{
    text-align: center;
}
.contact_icon{
    width: 3rem;
    height: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 0.1rem;
    border-radius: 3px;
    background-color: white;
}
.contact_icon:hover{
    background-color: rgb(204, 204, 204);
}


/* Main container*/
.main_container{
    display: flex;
    justify-content: space-between;
    margin: 1%;
}

.left_section{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: auto;
    background-color: rgb(2, 129, 2);
    border-radius: 3px;
}
.about_content{
    display: flex;
    margin: 2%;
    background-color: rgb(216, 215, 215);
    border-radius: 3px;
    align-items: center;
    flex-wrap: wrap-reverse;
    height:min-content;
}
.about_content div{
    margin: 2%;
    font-family: Verdana;
    font-size: 16px;
}
.profile_picture{
    width: 25%;
    border-radius: 3px;
    margin: 2%;
}

.skills_content{
    display: flex;
    margin: 2%;
    background-color: rgb(216, 215, 215);
    border-radius: 3px;
    align-items: center;
    
    flex-wrap: wrap;
}
#Skill{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    margin: 2%;
    font-family: Verdana;
    font-size: 16px;
}
.skills_content img{
    width: 5rem;
    padding: 0.5rem;
}

.Ed_Work_Title{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.Ed_Work_container{
    display: flex;
    justify-content: space-between;
    margin: 2%;   
}
.Ed_Work_container div{
    display: flex;
    flex-direction: column;
    width: 49%;
    height: auto;
    background-color: rgb(216, 215, 215);
    border-radius: 3px;
}
#Ed-Work_line{
    margin: 2%;
    width: auto;
    font-family: Verdana;
    font-size: 16px;
}


.projects_list{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 39%;
    background-color: rgb(2, 129, 2);
    border-radius: 3px;
}
.project{
    display: flex;
    flex-direction: column;
    margin: 2%;
    background-color: rgb(216, 215, 215);
    border-radius: 3px;
    width: 94%;
}
.project_line{
    width: 96%;
    align-self: center;
    text-align: center;
    margin: 2%;
}
.project div{
    margin: 1%;
    font-family: Verdana;
    font-size: 16px;
}

.projects_list a{
    text-decoration: none;
    color: white;
}
.projects_list a:hover{
    text-decoration: underline;
}

#green_button{
    text-decoration: none;
    background-color: darkgreen;
    color: white;
    text-align: center;
    border-radius: 3px;
    padding: 1%;
    width: auto;
    font-weight: bold;
}
#green_button:hover{
    background-color: forestgreen;
}