body{
    margin: 0px;
    background-color: darkgreen;
}
main{
    margin: 20px;
}
h1{
    font-size: 50px;
    color:rgb(55, 55, 55);
    text-align: center;
}
h2{
    font-size: 30px;
    color: rgb(55, 55, 55);
    text-align: center;
}
h3{
    font-size: 30;
    color: white;
    margin: 0.5rem;
    text-align: center;
}
h4{
    font-size: 25;
    color: darkgreen;
    text-align: center;
}

.title{
    font-size: 20px;
}

nav{
    background-color: darkgreen;
    padding: 1rem 5%;
    margin-bottom: 2rem;
}

.menu_references{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    display: inline-flex;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: forestgreen;
}


.banner ul{
    list-style-type: none;
    position: absolute;
    inset: 0;
}
.banner_image{
    width: 100%;
    height: 20rem;
    object-fit: cover;
}
.banner{
    width: 100%;
    height: 20rem;
    position: relative;
}

.main_container{
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}
.about{
    width: 65%;
    background-color: rgb(2, 129, 2);
    border-radius: 3px;
}
.projects_list{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
    background-color: rgb(2, 129, 2);
    border-radius: 3px;
}
.project{
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    background-color: rgb(216, 215, 215);
    border-radius: 3px;
}
.project_line{
    width: 90%;
    align-self: center;
    margin: 0.5rem;
}

.projects_list a{
    text-decoration: none;
    color: white;
}
.projects_list a:hover{
    text-decoration: underline;
}

#green_button{
    text-decoration: none;
    background-color: darkgreen;
    color: white;
    text-align: center;
    border-radius: 3px;
    padding: 0.5rem;
    width: inherit;
    font-weight: bold;
}